html {
  background-color: rgb(50, 50, 50);
  color: white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.blue {
  background-color: blue;
}

.artistListResult {
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 5px;
  padding: 25px;
  margin: 15px 0px 15px 0px;
  /* max-width: 190px; */
}
